[Unit]
Description = Tp6
After=tp6_user.service tp6_contador.service

[Service]
Type=oneshot
ExecStart = systemctl start tp6_user
ExecStart = systemctl start tp6_contador

[Install]
WantedBy = multi-user.target
